<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center>Data 1202: Data Analytics Tools</h1>
    <h1 align=center>Lab 6</h1>
</div>

<h1>Introduction</h1>
<h3>Welcome!</h3>
    <ul>
<p>The Objectives of this lab are:</p>
<li> Learn the use of iloc for subsetting a datastet. 
<li> Learn how to create functions in pythons.
    </ul>

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ol>
     <li><a href="#correct data format">Subseting using iLOC</a></li>
    <li><a href="#data_standardization">Functions</a></li>
</ol>

</div>

In [1]:
#Import Python Libraries
import numpy as np
import pandas as pd


<div class="alert alert-block alert-info" style="margin-top: 20px">
<h1 align=center>Part 1 : iLOC</h1>
</div>

In [5]:
df_raw = pd.read_csv(r"vgsales1.csv")

df_filtered = df_raw.iloc[:1000,:]

In [6]:
# To see what the data set looks like, we'll use the head() method.
df_filtered.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37


<div class="alert alert-block alert-info" style="margin-top: 20px">
<h1 align=center>Part 2 : Functions </h1>
</div>

In [7]:
def pizza_welcome1(customer):
	# Welcome customers to Pizza shop"
	print('Welcome to Pizza shop '+customer.title())
pizza_welcome1('Nur')	
pizza_welcome1('Jacklyn')
pizza_welcome1('Mazz')


#Function takes a list and uses a loop to print
def waiting(names):
    """ Sends a message to all waiting customers """

    for name in names:
        print("Your pizza is almost ready",name.title())

customers = ['poorna','sid','surhabi','halima','mo','tunji']

waiting(customers)

Welcome to Pizza shop Nur
Welcome to Pizza shop Jacklyn
Welcome to Pizza shop Mazz
Your pizza is almost ready Poorna
Your pizza is almost ready Sid
Your pizza is almost ready Surhabi
Your pizza is almost ready Halima
Your pizza is almost ready Mo
Your pizza is almost ready Tunji

In [8]:
# Build a function
def subset_data(df, row_select, col_select):
  # DOCSTRING
  """
  This function is used to dynamically slice data from 
  a users dataframe. 

  row_select: this represents the rows the user wants
  col_select: this is the columns
  """
  # Magic happens
  subset = df.iloc[row_select, col_select]
  
  # return this value
  return subset

In [18]:
first_row = subset_data(df_raw, 0, [0,1,2,3])
tenth_row = subset_data(df_raw, 10, [0, 1, 2, 3])
print(first_row)

#for row in range(0, len(first_row)):
 # print(subset_data(first_row, row, [0, 1, 2]))

Rank                 1
Name        Wii Sports
Platform           Wii
Year            2006.0
Name: 0, dtype: object

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #1:</h1>
<b>How many views did the top 10 videos get? </b>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #2:</h1>
<b>If you were selecting a video to run your ads on, what metric would you use to make the best decision?</b>
</div>